---
layout: null
title: Umar Pirmahomed
description: Every great website starts with a great homepage. The homepage tells your viewers what your site is all about and gives your viewers a place to come back to.
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
  Jekyll integration by somiibo.com
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1>{{site.title}}</h1>
						<h2>Software Engineer/Data Scientist</h2>
						<p>Little blog about myself and a few projects I'm working on!</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">My Blog and Project portfolio website</a></h2>
									<p>You can expect to find the projects that I am currently working on along with a few completed projects I found interesting <input type="text" name="" value=""></p>
								</header>
								<a href="#" class="image main"><img src="{{ "/images/mainimage.png" | absolute_url }}" alt="" /></a>
                <p>Welcome to my Blog! Here I'll be talking about my past projects and updating you on the projects I'm currently involved in. This includes Back-end, Front-end, Data Science and Machine learning.
                  </p>
                <p> I will also be posting about topics I find interesting enough to share with people. Along-side my projects, I am also constantly learning new languages and frameworks. So stay tuned for regular posts about my progression.	</p>

							</article>

						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:4 %}
                {% assign mod4 = forloop.index | modulo: 4 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
  									</ul>
  								</article>
                  {% if mod4 == 0 %}
                  <article>
  									<header>
  										<h2><a href="#"></a></h2>
  									</header>

  								</article>
                  {% endif %}
                {% endfor %}

							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">Blog</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
